.form {
	display: grid;
	place-items: center;
	width: 100vw;
	height: 100vh;
	color: white;

	form {
		display: flex;
		flex-direction: column;
		input {
			height: 30px;
		}

		button {
			border-radius: 24px;
			height: 48px;
			border: 1px solid white;
			background-color: transparent;
			color: white;
			margin-top: 15px;
		}
	}
}
