@import '../../styles/partials/variables';
@import '../../styles/partials/breakpoints';
@import '../../styles/partials/components';

.formContainer {
  display: grid;
  row-gap: 24px;
  grid-template-columns: 6.4vw 1fr 6.4vw;
  grid-template-rows: 72px repeat(2, max-content) max-content max-content;

  width: 100%;
  height: 100%;
  color: $cl-light-BG;
  background-color: $cl-darker-grey-blue;
  overflow-y: auto;
  & {
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll;
  }

  &::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
  }

  @include media('>=768px') {
    max-width: 617px;
    grid-template-columns: 24px 1fr 24px;
    grid-template-rows: 36px repeat(2, max-content) max-content max-content;
  }
  @include media('>=1000px') {
    transform: translateX(100px);
  }
}

.backButton {
  grid-column: 2 / 3;
  grid-row: 2;
  justify-self: start;
  padding-top: 0;
  padding-bottom: 5px;
}

.editId {
  grid-column: 2 / 3;
  grid-row: 3;
  font-size: $h2-spartan-bold;
  line-height: $h2-spartan-lineHeight;
  letter-spacing: $h2-spartan-letterSpace;
  font-weight: 700;
  span {
    color: $cl-light-grey-blue;
    margin-left: 0.5ch;
  }
}

.form {
  grid-column: 2 / 3;
  grid-row: 4;

  display: grid;
  row-gap: 24px;

  fieldset {
    padding: 0;
    border: none;
  }

  label {
    color: $cl-light-grey;
    display: block;
    font-size: $spartan-body1;
    line-height: $spartan-body1-lineHeight;
    letter-spacing: $spartan-body1-letterSpace;
    font-weight: 500;
    min-height: 96px;
  }

  input {
    max-width: 100%;
    width: 100%;
    display: block;
    font-size: $spartan-body1;
    line-height: $spartan-body1-lineHeight;
    letter-spacing: $spartan-body1-letterSpace;
    font-weight: 700;
    height: 48px;
    margin-top: 10px;
    border-radius: 4px;
    border: 1px solid $cl-grey-blue;
    background-color: $cl-dark-grey-blue;
  }

  input:focus {
    outline: none;
  }

  select {
    color: $cl-light-BG;
    max-width: 100%;
    width: 100%;
    display: block;
    font-size: $spartan-body1;
    line-height: $spartan-body1-lineHeight;
    letter-spacing: $spartan-body1-letterSpace;
    font-weight: 700;
    height: 48px;
    margin-top: 10px;
    border-radius: 4px;
    border: 1px solid $cl-grey-blue;
    background-color: $cl-dark-grey-blue;
  }

  input[type],
  input[type]::placeholder {
    color: $cl-light-BG;
  }
  input[type] {
    padding-left: 20px;
  }

  .errorMessage {
    color: $cl-red;
    font-size: 10px;
    margin-top: 8px;
    font-weight: lighter;
  }
}

// ************************ BILL FROM ***********************

.billFrom {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(min-content, max-content);

  &__heading {
    grid-column: 1 / -1;
    color: $cl-violet;
    font-size: $spartan-body1;
    line-height: $spartan-body1-lineHeight;
    letter-spacing: $spartan-body1-letterSpace;
    font-weight: 700;
  }

  .streetFrom {
    grid-column: 1 / -1;
  }

  .cityFrom {
    grid-column: 1 / 2;
  }
  .postCodeFrom {
    grid-column: 2 / -1;
  }

  .countryFrom {
    grid-column: 1 / -1;
  }

  @include media('>=768px') {
    grid-template-columns: repeat(3, 1fr);
    .streetFrom {
      grid-column: 1 / -1;
    }

    .cityFrom {
      grid-column: 1 / 2;
    }
    .postCodeFrom {
      grid-column: 2 / 3;
    }

    .countryFrom {
      grid-column: 3 / -1;
    }
  }
}

// ********************END BILL FROM ***************

// ******************* Bill To Start Block************

.billTo {
  display: grid;
  gap: 24px;

  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(min-content, max-content);
  &__heading {
    grid-column: 1 / -1;
    color: $cl-violet;
    font-size: $spartan-body1;
    line-height: $spartan-body1-lineHeight;
    letter-spacing: $spartan-body1-letterSpace;
    font-weight: 700;
  }

  .clientTo {
    grid-column: 1 / -1;
  }
  .emailTo {
    grid-column: 1 / -1;
  }
  .streetTo {
    grid-column: 1 / -1;
  }
  .cityTo {
    grid-column: 1 / 2;
  }
  .postCodeTo {
    grid-column: 2 / -1;
  }
  .countryTo {
    grid-column: 1 / -1;
  }

  @include media('>=768px') {
    grid-template-columns: repeat(3, 1fr);
    .clientTo {
      grid-column: 1 / -1;
    }
    .emailTo {
      grid-column: 1 / -1;
    }
    .streetTo {
      grid-column: 1 / -1;
    }
    .cityTo {
      grid-column: 1 / 2;
    }
    .postCodeTo {
      grid-column: 2 / 3;
    }
    .countryTo {
      grid-column: 3 / -1;
    }
  }
}

.invoiceDates {
  display: grid;
  gap: 24px;
  grid-template-columns: 1fr;

  .invoiceStart {
    input::-webkit-calendar-picker-indicator {
      cursor: pointer;
      margin-right: 16px;
      filter: invert(1) brightness(60%);
    }
  }

  .paymentDropdown {
    & select {
      padding-left: 20px;
    }
  }
  @include media('>=768px') {
    grid-template-columns: repeat(2, 1fr);
    .invoiceStart {
      grid-column: 1 / 2;
    }

    .paymentDropdown {
      grid-column: 2 / -1;
    }
    .projectDescription {
      grid-column: 1 / -1;
    }
  }
}

.itemsContainer {
  &__title {
    margin-block: 16px;
    color: $cl-light-grey;
    font-size: $h3-spartan-bold;
    letter-spacing: $h3-spartan-letterSpace;
    line-height: $h3-spartan-lineHeight;
  }
  .itemList {
    display: grid;

    grid-template-columns: repeat(4, minmax(min-content, 1fr));
    column-gap: 16px;
    row-gap: 24px;

    .itemName {
      grid-column: 1 / -1;
    }

    .itemQuantity {
      grid-column: 1 / 2;
    }

    .itemPrice {
      grid-column: 2 / 3;
    }
    .totalCounter {
      grid-column: 3 / 4;

      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      width: 100%;
      height: 100%;

      color: $cl-light-grey;
      h5,
      p {
        font-size: $spartan-body1;
        line-height: $spartan-body1-lineHeight;
        letter-spacing: $spartan-body1-letterSpace;
        font-weight: 700;
      }
      p {
        font-weight: 500;
        justify-self: start;
        align-self: start;
        grid-column: 1;
        grid-row: 1;
      }
      h5 {
        grid-column: 1;
        grid-row: 1;
        align-self: center;
      }
    }
    .deleteItem {
      grid-column: 4 / -1;
      justify-self: center;
      align-self: end;
      background: transparent;
      border: none;
      margin-bottom: 32px;
      padding: 5px;
    }
  }
}

.addNewItemButton {
  margin-bottom: 90px;

  @include media('>=768px') {
    margin-bottom: 100px;
  }
}

.formButtonControls {
  position: fixed;
  width: 100%;
  max-width: inherit;
  z-index: 50;

  bottom: 0;

  grid-column: 1 / -1;
  grid-row: 5 / -1;

  display: flex;

  padding: 0;
  border: none;
  height: 91px;
  background-color: $cl-dark-grey-blue;

  @include media('>=768px') {
    background-color: $cl-darker-grey-blue;
  }

  .formButtonControls__panel {
    width: 100%;

    display: flex;
    margin: 0 auto;
    margin-inline: 24px;
    justify-content: space-between;

    align-items: center;

    .cancelAndDiscardButton {
      padding-inline: 16px;
      width: 84px;
    }

    .saveAsDraftButton {
      margin-left: auto;
      margin-right: 8px;
      padding-inline: 16px;
      width: 117px;
    }

    .saveAndSendButton {
      padding-inline: 16px;
      width: 112px;
    }
  }
}
