@import './breakpoints';

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 72px 32px 1fr;
  @include media('>=768px') {
    grid-template-rows: 136px max-content 65px 1fr;
  }

  @include media('>=1000px') {
    grid-template-columns: 1fr minmax(730px, 1.7fr) 1fr;
  }
}
