@import "partials/variables";
@import "partials/breakpoints";

.modalWrapper {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 200;
	width: 100vw;
	height: 100%;
	display: grid;
	background-color: $overlay;
}

.backgroundOpaque {
	background-color: $cl-darker-grey-blue;
}
